section {
    		padding-bottom: 0 !important;
			}
			.question{
                border: 1px solid whitesmoke;
                padding:20px;
                margin: 20px 0;
            }
            .answer{
            margin-top:15px;
            }
            .answer .btn{
            margin-top:-32px;
            font-weight:bold;
            margin-left:10px;
            }
            .label-danger{
            margin-top:-16px;
            margin-bottom:10px;
            }
            .group  {
                width:100%;
                border:1px solid #d3d3d3;
                margin-bottom:10px;
            }
            .group  div {
                width:100%;
            }
            .group  .header {
                padding: 4px;
                cursor: pointer;
                font-weight: bold;
                color:white;
            }
            .group .content {
                display: none;
                padding : 5px;
            }
            .content ul li{
            width:100%;
            }
            .ui-sortable {
            margin-left: -30px;
            padding-right:20px;
            }
  #sortable1 li, #sortable2 li, #sortable3, #sortable4, #sortable5 { list-style-type: none; margin: 0; margin-right: 10px; padding: 5px; width: 100% !important;}
  #sortable1 li, #sortable2 li, #sortable3 li, #sortable4 li, #sortable5 li { background: whitesmoke; border: 1px solid silver; margin: 5px; padding: 5px; font-size: 14px; width: 100% !important;}
  #sortable1 .remove ,#sortable2 .remove,#sortable3 .remove,#sortable4 .remove, .tt-dropdown-menu .remove, #sortable5 .label{display:none;}
  .remove{padding:5px;}
  .remove:hover{
    cursor:pointer;
  }
  #sortable5 {padding-right: 15px; margin-left:0;}
  #sortable5 li{
  color:white;
  border:none;
  }
  #sortable5 .group1, .tt-dropdown-menu .group1 span.label{     background: #79D1CF;   }
  #sortable5 .group2, .tt-dropdown-menu .group2 span.label{     background: #95D7BB;   }
  #sortable5 .group3, .tt-dropdown-menu .group3 span.label{     background: rgb(230, 122, 119);   }
  #sortable5 .group4, .tt-dropdown-menu .group4 span.label{     background: rgb(217, 221, 129);   }
  body.dragging, body.dragging * {
  cursor: move !important;
}

.dragged {
  position: absolute;
  opacity: 0.5;
  z-index: 2000;
  height:35px;
}

.vertical{
  margin-left: -40px;
padding-right: 10px;
}
.vertical li:hover{
cursor:move;
}
ol.example li.placeholder:before {
  position: absolute;
  /** Define arrowhead **/
}
.tt-input, .tt-hint{
    display: block;
width: 233px;
height: 34px;
padding: 6px 12px;
font-size: 14px;
line-height: 1.42857143;
color: #555;
background-color: #fff;
background-image: none;
border: 1px solid #ccc;
border-radius: 4px;
-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
-webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
-o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
/* custom font! */
/* ------------ */


/* scaffolding */
/* ----------- */




.tt-dropdown-menu,
.gist {
  text-align: left;
}

/* base styles */
/* ----------- */


.table-of-contents li {
  display: inline-block;
  *display: inline;
  zoom: 1;
}

.table-of-contents li a {
  font-size: 16px;
  color: #999;
}

.title,
.example-name {
  font-family: Prociono;
}

p + p {
  margin: 30px 0 0 0;
}

/* site theme */
/* ---------- */

.title {
  margin: 20px 0 0 0;
  font-size: 64px;
}

.example {
  padding: 30px 0;
}

.example-name {
  margin: 20px 0;
  font-size: 32px;
}

.demo {
  position: relative;
  *z-index: 1;
  margin: 50px 0;
}


.typeahead {
  background-color: #fff;
}

.typeahead:focus {
  border: 2px solid #0097cf;
}

.tt-query {
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
     -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.tt-hint {
  color: #999
}

.tt-dropdown-menu {
  width: 350px;
  margin-top: 12px;
  padding: 8px 1px;
  background-color: #fff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 3px;
     -moz-border-radius: 3px;
          border-radius: 3px;
  -webkit-box-shadow: 0 5px 10px rgba(0,0,0,.2);
     -moz-box-shadow: 0 5px 10px rgba(0,0,0,.2);
          box-shadow: 0 5px 10px rgba(0,0,0,.2);
          z-index: 1000 !important;
}
.tt-dropdown-menu li{
    list-style:none;
    
}
.tt-dropdown-menu li:hover{
    cursor:move;
    
}
.tt-suggestion, .tt:hover{
   
}
.tt-suggestion {
  padding: 3px 10px;
  font-size: 14px;
  font-weight:bold;
  line-height: 24px;
}

.tt-suggestion.tt-cursor {
  
  background-color: transparent;

}

.tt-suggestion p {
  margin: 0;
}

.gist {
  font-size: 14px;
}

/* example specific styles */
/* ----------------------- */

#custom-templates .empty-message {
  padding: 5px 10px;
 text-align: center;
}

#multiple-datasets .league-name {
  margin: 0 20px 5px 20px;
  padding: 3px 0;
  border-bottom: 1px solid #ccc;
}

#scrollable-dropdown-menu .tt-dropdown-menu {
  max-height: 150px;
  overflow-y: auto;
}

#rtl-support .tt-dropdown-menu {
  text-align: right;
}